<div id="special">
  <template id="formControl_fontWeight">
    <div>
      <label></label>
      <select>
        <option value="normal">Normal</option>
        <option value="bold">Bold</option>
      </select>
    </div>
  </template>

  <template id="formControl_layout">
    <div>
      <div>
        <input type="radio" id="" name="" value="" />
        <label></label>
      </div>
      <div>
        <input type="radio" id="" name="" value="" />
        <label></label>
      </div>
    </div>
  </template>
</div>
