<div id="tips">
  <template id="formControlTip_ctrlTriggerBg">
    <div class="container-tip">
      <details>
        <summary>Top to bottom</summary>
        <div class="tip">
          This is the column of left-side buttons that show/hide elements, like
          the Ribbon menu or Message folders (Inbox/ Sent items/ etc).
        </div>
      </details>
    </div>
  </template>

  <template id="formControlTip_fonts">
    <div class="container-tip">
      <details>
        <summary>Inbox messages</summary>
        <div class="tip">
          These settings affect the fonts used for your Inbox messages.
        </div>
      </details>
    </div>
  </template>
</div>
